{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/list_date.css' %}">
	<title>Возврат оборудования</title>
{% endblock head %}
{% block body %}
	<h3><a href="../">Назад</a></h3>
	<h1>Возврат</h1>
	<div class="block_date">
		{% for i in returned %}
		<div class="line">
			<div class="date">
				<a href="/returned/{{i.pk}}" title="{{i.supplier}}">{{ i.date|date:"d.m.Y"}}</a>
			</div>
			{% if i.file != "" %}
			<div class="file">
				<a href="{{ i.file.url }}" target="_blank">Скан</a>
			</div>
			{% endif%}
		</div>
		{% endfor %}
		<div class="line">
			<a href="returned/all">Все возвращенное оборудование</a>
		</div>
	</div>
{% endblock body %}